<div>
	<h2>S'inscrire</h2>
	<label for="nom">Nom</label>
	<input name="nom" id="nom" class="form-control"  ng-model="nom"/>
	<label for="prenom">Prenom</label>
	<input name="prenom" id="prenom" class="form-control" ng-model="prenom"/>
	<label for="pseudo">Pseudo</label>
	<input type="text" name="pseudo" id="pseudo" class="form-control" ng-model="pseudo"/>
	<label for="motPasse">Mot de passe</label>
	<input name="motPasse" id="motPasse" class="form-control" ng-model="motPasse"/>
	<button type="button" class="btn btn-default" ng-click="inscrire()">Valider</button>
</div>