<div>
	<h2>Profil utilisateur</h2>
	<label for="Pseudo">Pseudo : {{user.pseudo}}</label>
	<label for="Pseudo">Prenom : {{user.prenom}}</label>
	<label for="Nom">Nom : {{user.nom}}</label>

	<p>Evenement Participé</p>
	<table class="table table-bordered">
	<thead class="thead-inverse">
		<tr>
			<th>Evénement</th>
			<th>Description</th>
			<th>Crénau(x)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="evenement in user.evenementsParticiper">
			<td>{{evenement.id}}</td>
			<td>{{evenement.description}}</td>
			<td><ul ng-repeat="crenaux in evenement.creneaux">
				<li>{{crenaux.date}} {{crenaux.heure}}</li>
			</ul></td>
		</tr>
	</tbody>
	</table>
	
	<p>Evenement Créés</p>
	<table class="table table-bordered">
	<thead class="thead-inverse">
		<tr>
			<th>Evénement</th>
			<th>Description</th>
			<th>Crénau(x)</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="evenement in user.evenementsCrees">
			<td>{{evenement.id}}</td>
			<td>{{evenement.description}}</td>
			<td><ul ng-repeat="crenaux in evenement.creneaux">
				<li>{{crenaux.date}} {{crenaux.heure}}</li>
			</ul></br></td>
		</tr>
	</tbody>
	</table>
</div>